.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

/*.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.checkbox {
  cursor: pointer;
}
.checkbox input {
  display: none;
}
.checkbox__checked {
  display: #2ECC40;
  height: 35px;
  width: 23.3333333333px;
  border: 6px solid #2ECC40;
  border-top: 0;
  border-left: 0;
  transition-delay: .7s;
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}
.checkbox__state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border: 6px solid black;
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 0;
}
input:checked ~ .checkbox__state {
  -webkit-transform: rotate(400deg);
          transform: rotate(400deg);
  border: 6px solid transparent;
  border-radius: 50%;
}
input:checked ~ .checkbox__state .checkbox__checked {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
